coloredlogs==15.0.1
    # via onnxruntime
flatbuffers==25.12.19
    # via onnxruntime
humanfriendly==10.0
    # via coloredlogs
mpmath==1.3.0
    # via sympy
numpy==2.2.6
    # via
    #   -r deploy/requirements-pi.in
    #   onnxruntime
onnxruntime==1.23.2
    # via -r deploy/requirements-pi.in
packaging==26.3
    # via onnxruntime
protobuf==7.36.0
    # via onnxruntime
scapy==2.7.0
    # via -r deploy/requirements-pi.in
sympy==1.14.0
    # via onnxruntime
